<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://192.168.1.9:3333/static/css/bootstrap.css">
  <script src="http://192.168.1.9:3333/static/js/jquery-2.2.4.js"></script>
  <script src="http://192.168.1.9:3333/static/js/jquery-ext.js"></script>
  <script src="http://192.168.1.9:3333/static/js/jquery.ajaxfileupload.js"></script>
  <script src="http://192.168.1.9:3333/static/js/bootstrap.js"></script>
  <title><%=title%></title>
</head>
<body>
  <%- body %>
</body>
</html>
